<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>404 - Page Not Found</title>
    <style>
      body {
        font-family: Arial;
        text-align: center;
        margin-top: 100px;
      }
      h1 {
        font-size: 60px;
        color: #e11d48;
      }
    </style>
  </head>
  <body>
    <h1>404</h1>
    <p>Oops! The page <b><%= path %></b> does not exist.</p>
    <a href="/admin/login">Go Home</a>
  </body>
</html>
