<aside class="sidebar">
  <div class="logo-box">
    <img src="/logo.png" alt="Logo" class="logo-img" />
  </div>

  <ul class="menu">
    <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
    <li><a href="/admin/users">Users</a></li>
    <li><a href="/admin/courses">Courses</a></li>
    <li><a href="#">Tests</a></li>
    <li><a href="#">Results</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#" id="logoutbtn">Logout</a></li>
  </ul>
</aside>
