<div class="flex">
      <aside class="sidebar w-64 bg-gradient-to-br from-blue-600 via-indigo-600 to-purple-600 text-white fixed left-0 top-0 h-screen hidden md:block">
    <div class="p-4 text-center border-b border-blue-400">
  <a href="/admin/dashboard" class="inline-block">
    <img src="/logo.png" class="mx-auto w-20 mb-2 cursor-pointer" />
    <h2 class="font-semibold">THE ENGLISH RAJ</h2>
  </a>
</div>

    <ul class="menu p-4 space-y-2">
      <li><a href="/admin/dashboard" class="block px-4 py-2 rounded">Dashboard</a></li>
      <li class="active"><a href="/admin/users" class="block px-4 py-2 rounded ">Users</a></li>
      <li><a href="/admin/courses" class="block px-4 py-2 rounded">Courses</a></li>
      <li><a href="#" class="block px-4 py-2 rounded">Tests</a></li>
      <li><a href="#" class="block px-4 py-2 rounded">Results</a></li>
      <li><a href="#" class="block px-4 py-2 rounded">Settings</a></li>
      <li><a href="#" id="logoutbtn" class="block px-4 py-2 rounded text-red-200">Logout</a></li>
    </ul>
  </aside>